div#container {
	max-width: 95%;
	margin: 0px auto;
}
.header {
  padding: 60px;
  text-align: center;
  color: #67abdf;
  font-size: 25px;
}
.subheader {
  padding: 60px;
  text-align: center;
  color: #e4345b;
  font-size: 20px;
}
